<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728073218526-hugb5nk3usm0vv7f9qbrd200rssuluqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728073218526-hugb5nk3usm0vv7f9qbrd200rssuluqg</string>
	<key>API_KEY</key>
	<string>AIzaSyAl5RiPCUu8eNvtX30RD5vK-Td7oseQX80</string>
	<key>GCM_SENDER_ID</key>
	<string>728073218526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AwesomeProject</string>
	<key>PROJECT_ID</key>
	<string>reactnativefirebase-b37b0</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativefirebase-b37b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728073218526:ios:f0fe5b936066f25576154f</string>
</dict>
</plist>